/* Colors */
body, .jsshell-input {
  background-color: #fdf6e3;
  color: #657b83;
}

body {
  font-family: Helvetica, Ariel, sans-serif;
}

.jsshell-headline {
  color: #859900;
  font-size: 150%;
}

.jsshell-inputlog {
  white-space: pre;
  font-family: monospace;
  font-size: 120%;
}

.jsshell-property {
  padding-left: 2ex;
  display: block;
}

.jsshell-property:hover {
  background-color: #eee8d5;
}

.jsshell-typename {
  color: #93a1a1;
}

.jsshell-object-key,
.jsshell-property-eq {
  float: left;
  vertical-align: top;
  padding-right: 0.5ex;
}

.jsshell-expand,
.jsshell-collapse {
  cursor: pointer;
  color: #586e75;
}

.jsshell-expand:hover,
.jsshell-collapse:hover {
  color: #268bd2;
}

.jsshell-property-value {
}

.jsshell-property:hover .jsshell-remove {
  color: #dc322f;
  display: block;
  cursor: pointer;
}

.jsshell-property .jsshell-remove {
  float: right;
  display: none;
  width: 1em;
  height: 1em;
}

.jsshell-property-key {
  color: #d33682;
  float: left;
  margin-left: -2ex;
  padding-right: 0.5ex;
}

.jsshell-string {
  color: #859900;
}

.jsshell-input {
  padding: 0;
  margin: 0;
  font: inherit;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 120%;
  box-shadow: 1px 1px 3px #93a1a1;
}

.jsshell-button {
  background-color: #cb4b16;
  color: #fdf6e3;
  border: none;
  margin: 0px 0.5ex;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px  #93a1a1;
  -moz-border-radius: 0.5em;
  -moz-box-shadow: 1px 1px 3px  #93a1a1;
}

.jsshell-default-button {
}

.jsshell-button:active {
  background-color: #859900;
}

table.jsshell-numbers {
  display: inline-table;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

table.jsshell-numbers th {
  vertical-align: top;
  text-align: left;
  width: 12ex;
  font-weight: normal;
}

textarea.jsshell-inlineText {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.jsshell-binsign { color: #dc322f;}
.jsshell-hexsign { color: #cb4b16; }
.jsshell-binexponent, .jsshell-hexexponent { color: #859900; }
.jsshell-binmantissa, .jsshell-hexmantissa { color: #268bd2; }

.jsshell-chartable { 
  display: inline-table; 
  border-collapse: collapse;
  font-family: monospace;
}
.jsshell-chartable td { margin: 0; }
.jsshell-chartable-offset { 
    text-align: right; 
    color: gray; 
    border-right: 1px solid #586e75; 
    padding-right: 0.5ex;
}
td.jsshell-chartable-code { text-align: right; width: 4ex; padding: 0 0.25ex;}
td.jsshell-chartable-char { text-align: center; width: 1em; padding: 0;}
td.jsshell-chartable-code.jsshell-firstcol { padding-left: 0.5ex; }
td.jsshell-chartable-code.jsshell-lastcol { padding-right: 0.5ex; }
td.jsshell-chartable-char.jsshell-firstcol { 
  padding-left: 0.5ex; 
  border-left: 1px solid #657b83;
}
td.jsshell-chartable-code.jsshell-fourthcol { border-left: 1px solid #586e75;}
td.jsshell-chartable-code:hover { background-color: #268bd2; color: white; }
td.jsshell-chartable-char:hover { background-color: #268bd2; color: white; }
td.jsshell-chartable-code.jsshell-highlight { background-color: #268bd2; color: white; }
td.jsshell-chartable-char.jsshell-highlight { background-color: #268bd2; color: white; }

td.jsshell-chartable-code.jsshell-empty:hover { background-color: inherit; color: inherit; !important}
td.jsshell-chartable-char.jsshell-empty:hover { background-color: inherit; color: inherit; !important}

#jsshell-expand {
   width: 1.5em ;
}
